.comment {
  background-color: #c2c2c2;
  border-radius: 10px;
}

.avatar {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.comment-header {
  font-weight: bolder;
  font-size: 1.3rem;
}

section a {
  margin-left: 10px;
}

.comment-date {
  font-size: 0.7rem;
}

.forum-actions {
  position: fixed;
  z-index: 20;
}

.forum-comments {
  padding-top: 100px;
  z-index: 10;
}

.comment-replays {
  font-size: 0.8rem;
  margin-left: 20px;
}

.replay-avatar {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 2px;
}

.avatar-main {
  background-color: rgb(175, 193, 41);
  width: 50px;
  height: 50px;
}

.avatar-first {
  background-color: rgb(89, 187, 112);
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
}

.avatar-second {
  background-color: rgb(74, 89, 228);
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
}

.replay-name {
  font-weight: bolder;
}

.replay-header {
  display: flex;
  align-items: baseline;
}

.replay-content {
  margin-left: 30px;
}

.replay-date {
  font-size: 0.7rem;
  margin-left: 8px;
}