<div *ngIf="comments.length == 0" class="alert alert-success text-center">
  Nadie ha escrito en el foro. ¡Se tú el primero!
</div>

<div class="forum">

  <section class="forum-actions">
    <a class="btn btn-secondary" [routerLink]="[WRITE_ROUTE]"><em class="fa-solid fa-pen"></em> Escribe en el foro</a>
  </section>

  <section class="forum-comments">
    <div *ngFor="let comment of comments" class="comment p-3 my-2 animate__animated animate__backInLeft">
      <div class="avatar">{{ comment.user.name | avatarize }}</div>
      <div class="comment-header mt-3">{{ comment.user.name }}</div>
      <div class="comment-date mb-3"><em class="fa-solid fa-calendar-days"></em> {{ comment.date }}</div>
      <div class="comment-content">{{ comment.content }}</div>
      <div class="comment-actions">
        <button class="btn btn-primary mt-4"><em class="fa-solid fa-reply"></em> Responder</button>
      </div>
    </div>
  </section>

</div>