<h2 *ngIf="loading">Cargando...</h2>
<div *ngIf="!loading" class="form-container p-5 animate__animated animate__lightSpeedInRight">
  <h6><em class="fa-solid fa-pencil"></em> Responder a {{ commentToReplay.user.name }}</h6>
  <hr />
  <div class="snapshot-comment p-2 mb-2">
    <header>{{ commentToReplay.user.name }} escribió:</header>
    <p>{{ commentToReplay.content }}</p>
  </div>
  <form action="" autocomplete="off" (ngSubmit)="replay(myForm)" #myForm="ngForm">
    <div class="form-group">
      <label for="name" class="form-label">Escribe tu nombre</label>
      <input
      type="text"
      [ngModel]="user.name"
      required
      [class.is-invalid]="name.invalid && name.touched"
      name="name"
      id="name"
      class="form-control"
      placeholder="Ejm: Giovanny Granda"
      #name="ngModel">
    </div>

    <div class="form-group">
      <label for="comment" class="form-label">Comentario</label>
      <textarea
      ngModel
      required
      class="form-control"
      [class.is-invalid]="comment.invalid && comment.touched"
      name="comment"
      id="comment"
      cols="30"
      rows="5"
      placeholder="Escribe aquí tu respuesta"
      #comment="ngModel"></textarea>
    </div>
    <div class="mt-4">
      <button
      class="btn btn-primary mx-1"
      type="submit"
      [class.disabled]="myForm.invalid">
        <em class="fa-solid fa-check"></em> Compartir
      </button>
      <button type="button" (click)="cancel()" class="btn btn-secondary mx-1"><em class="fa-solid fa-xmark"></em> Cancelar</button>
    </div>
  </form>
</div>

